body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 5%;
}

.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: papayawhip;
    font-weight: 700;

}
.first-section{

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}

.third-half-width{

    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 20px grey;
    padding: 8px;
    
}

.section-three{

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left 80%;

}
#third-section-first-div{
        border-left: 10px solid;
        border-image: linear-gradient(rgb(255, 94, 65),rgb(255, 105, 79));
        border-image-slice: 15%;
}

#third-section-second-div{
    border-left:  10px solid;
    border-image: linear-gradient( blue,skyblue) ;
    border-image-slice: 15% ;
}

.third-section-h1{
        font-size: 40px;
}
footer{
    text-align: center;
}